
.backround{
  background-color: rgb(255, 212, 196);
 }
 
 .page {
     display: none;
   }
   
     .page.active {
     display: block;
   }
   

   .patterns-item{
    border: thin solid black;
   }

   #homePage {
    display: none;
  }
  
  #patterntext {
    display: block;
  }
  